.estate-objects {
    background-color: #f4fcff;
    padding-top: 60px;
    padding-bottom: 75px;
    &__title {
        margin: 0 0 45px 0;
        text-align: center;
        font-family: "OpenSansItalic", sans-serif;
        font-size: 25px;
        &:after {
            content: "";
            width: 53%;
            display: block;
            margin: 17px auto 0 auto;
            border-top: 1px solid #cad5d5;
        }
    }
    h4 {
        margin: 0 0 20px 0;
        font-size: 20px;
    }
    &__content {
        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    &__allowed {
        width: 75%;
        padding: 28px 0 28px 34px;
        margin: 0;
        background-color: #ebfff4;
        box-sizing: border-box;
    }
    &__allowed-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        div {
            width: 50%;
            min-width: 303px;

        }
    }
    &__forbidden {
        width: 25%;
        padding: 28px 0 28px 34px;
        margin: 0;
        background-color: #ffefea;
        box-sizing: border-box;
        li {
            padding: 12px 0 12px 60px;
            &:first-child {
                margin-bottom: 12px;
            }
        }
    }
    &__allowed-subtitle {
        display: inline-block;
        font-weight: normal;
        text-decoration: underline;
        font-size: 17px;
        margin: 0 0 5px 0;
    }
    &__allowed-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    &__forbidden-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}

.estate-object {
    padding: 10px 0 10px 50px;
    margin-bottom: 2px;
    width: 100%;
    min-width: 303px;
    font-size: 16px;
    background: url(../images/quick-questions/allowed.jpg) no-repeat left center;

    &_apartment {
        min-width: 0;
        background: url(../images/quick-questions/apartment-icon.png) no-repeat left center;
        padding-left: 60px;
    }
    &_office {
        min-width: 0;
        background: url(../images/quick-questions/portfolio-icon.png) no-repeat left center;
        margin-bottom: 0;
        padding-left: 60px;
    }
}

@media screen and (max-width: 1180px) {
    .estate-objects {
        &__content {
            width: 100%;
            margin: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .estate-objects {
        white-space: normal;
        padding-top: 25px;
        &__content {
            flex-wrap: wrap;
        }
        &__allowed {
            width: 100%;
            padding: 10px;
            div {
                margin: 0 auto;
            }
        }
        &__forbidden{
            width: 100%;
            padding: 10px;
        }
        &__forbidden-list {
            justify-content: center;
            li {
                margin-bottom: 10px;
            }
        }
    }
    .estate-object {
        width: 50%;
    }
}

@media screen and (max-width: 380px) {
    .estate-objects {
        &__title {
            font-size: 20px;
        }
    }

    .estate-object {
        font-size: 15px;
        padding-left: 40px;
        background-size: 35px;
    }
}