@import (inline) "../node_modules/normalize.css/normalize.css";

@import "../node_modules/slick-carousel/slick/slick";
@import "../node_modules/slick-carousel/slick/slick-theme";

@import "../node_modules/font-awesome/less/font-awesome";

@import "fonts";

@import "main";
@import "media";
@import "common";

@import "button";
@import "qoute";

@import "landing-nav";
@import "banner";

@import "our-benefit";
@import "cut-costs";
@import "our-differences";

@import "steps-placement";
@import "increasing-attractiveness";
@import "accommodation-village";

@import "quick-questions";
@import "estate-objects";
@import "estate-region";
@import "interesting-site";
@import "advertising-domogis";
@import "get-started";

a {
    text-decoration: none;
}

a, input, select, button, textarea {
    &:hover {
        cursor: pointer;
    }
}

.wrap {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}



@media screen and (max-width: 1180px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 380px) {
}