.our-differences {
  padding: 60px 0 60px 0;
  &__title {
    display: block;
    margin: 0 auto 60px auto;
    text-align: center;
    font-family: OpenSansSemibold, sans-serif;
    font-size: 30px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    width: calc(~'100%/3 - 30px');
    padding-left: 60px;
    background: url(..) no-repeat left top;
    margin-bottom: 25px;
    h5 {
      margin: 0 0 15px 0;
    }
    p {
      margin: 0;
    }
  }
}
